*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
}
body{
    background-image: url(bg2.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 14px;
    }
        .v79:2 {
            background: rgba(192, 169, 169, 1);
            width: 100%;
            height: 75px;
nav{
    height: 80px;
    width: 100%;
    background: ;
}